# Dependências
node_modules/
.pnp
.pnp.js

# Build
dist/
build/
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Ambiente
.env
.env.local
.env.*.local

# Dados do banco (se usar bind mount)
db/default/data/

# IDE
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

